.list-item-container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 150px;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    border-left: 4px solid hsl(180, 37%, 41%);
    box-shadow: hsl(180, 36%, 63%) 0px 2px 10px;
    font-weight: bold;
    margin: 20px;
}

.top-tags, .bottom-tags {
    display: flex;
    padding: 3px;
    justify-content: space-between;
    font-size: 10px;
}

.top {
    margin-top: 20px;
    height: 25px;
    color: hsl(180, 37%, 41%);
}

.bottom {
    color: rgb(187, 183, 183);
    width: 200px;
}

.container, .left-item {
    display: flex;
    flex-direction: column;
}

.left-item {
    margin-top: 20px;
}

.right-item {
    display: flex;
    justify-content: right;
    width: 400px;
    margin: 50px 25px 0 0;
}

.right-tags {
    background-color: hsl(180, 52%, 96%);
    color:hsl(180, 52%, 29%);
    height: 18px;
    padding: 5px;
    font-size: 10px;
    margin: 10px;
    cursor: pointer;
}

.admin-btn {
    background-color: hsl(180, 52%, 96%);
    color:hsl(180, 52%, 29%);
    font-weight: bold;
    margin-top: 20px;
}

.img {
    margin: 25px 0 0 20px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(172, 167, 167);
    margin-top: 8px;
}

.new-tag, .featured-tag {
    border-radius: 9px;
    padding: 2px 7px;
    color: white;
}

.new {
    background-color: hsl(180, 37%, 41%);
}

.featured {
    background-color: #2b3939;
}

.job-title {
    text-align: left;
    font-weight: bold;
}